{% extends 'core/base.html' %}
{% load static %}

{% block principal %}

<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-toggle::after {
    content: none; 
}

.dropdown-toggle::before {
    content: "\2026"; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    vertical-align: middle;
    margin-left: 5px;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-toggle .ti-more-alt {
    display: none; 
}

.dropdown-toggle::before {
    content: "\2026"; 
    font-size: 24px; 
    color: black; 
    vertical-align: middle;
    margin-left: 5px;
}

.byder_thumb {
    max-width: 100px; 
    height: auto; 
}

.dropdown-second .dropdown-toggle::before {
    content: ""; 
}

.espacio {
    margin-bottom: 27px; 
    padding-left: 10px; 
}

</style>

<div class="white_card mb_30" style="margin: 0 15px;">
    <div class="white_card_header">
        <div class="box_header m-0">
            <div class="main-title">
                <h2 class="m-0">Lista de Mecanicos API</h2>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                    <i class="ti-more-alt"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'empleadosadd' %}"><i class="ti-plus"></i> Agregar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="white_card_body">
        <div class="table-responsive">
            <table class="table bayer_table m-0">
                <tbody>
                    {% for aux in lista %}
                    <tr style="border: hidden;">
                        <td> <!--Despues arreglar con el IF-->
                            <img class="byder_thumb" src="{{ aux.img }}" alt="">
                        </td>
                        <td>
                            <div class="payment_gatway">
                                <h5 class="byer_name f_s_16 f_w_700 color_theme">{{ aux.nombre }} {{ aux.apellido }}</h5>
                                <p class="color_gray f_s_12 f_w_700">{{ aux.rut }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="payment_gatway text-end">
                                <div class="espacio"></div> <!-- Esto es porque me da cosa que no quede tan alineado -->
                                <h5 class="byer_name f_s_15 f_w_700 color_theme">
                                    {{ aux.tipo.descripcion }}
                                    {% if aux.habilitado %}
                                        - Si está habilitado
                                    {% else %}
                                        - No está habilitado
                                    {% endif %}
                                </h5>
                                <div class="dropdown dropdown-second"> <!-- Agregar la clase "dropdown-second" al segundo dropdown -->
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                                        🠟
                                    </button>
                                    {% if perms.core.change_empleado%}
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'empleadosupdate' aux.id %}"><i class="fa fa-edit"></i> Modificar</a></li>
                                        <li><a class="dropdown-item" onclick="confirmarDelete({{ aux.id }})"> <i class="fa fa-trash"></i> Eliminar</a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropdowns = document.querySelectorAll('.dropdown');

        dropdowns.forEach(function(dropdown) {
            var dropdownMenu = dropdown.querySelector('.dropdown-menu');
            var dropdownButton = dropdown.querySelector('.dropdown-toggle');
            var dropdownMenuId = dropdownMenu.getAttribute('aria-labelledby');

            console.log('Dropdown ID:', dropdownMenuId);

            dropdownButton.addEventListener('click', function() {
                dropdownMenu.classList.toggle('show');
            });

            dropdown.addEventListener('mouseleave', function(event) {
                if (!dropdown.contains(event.relatedTarget)) {
                    dropdownMenu.classList.remove('show');
                }
            });
        });
    });
</script>

{% endblock %}


