{% extends 'core/base.html' %}
{% load static %}

{% block principal %}

{% load crispy_forms_tags %}
    <style>
        .espacio {
        margin-bottom: 15px;     
        }
    </style>

    <form action="" method="POST" style="margin-left: 15px;" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form | crispy }}
        </table>
        <div class="espacio"></div>
        <input class="btn btn-danger" type="reset" value="Limpiar">
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="{% url 'empleados' %}" class="btn btn-success" style="background-color: #F9CD16; border-color: #F9CD16;">Ir a Lista</a>
    </form>

    <h4>{{ msj }}</h4>

{% endblock %}